<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          logo
        </ion-col>
        <ion-col>
          <ion-title>
            CFT Card Scanner
          </ion-title>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-icon name="camera" (click)="getImageFromCamera()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-progress-bar type="indeterminate" *ngIf="showProgress"></ion-progress-bar>
    <p class="ion-text-center" *ngIf="showProgress">{{loadingMsg}}</p>
    <img src="{{selectedImage}}" alt="No image selected" *ngIf="selectedImage">
    <input type="file" name="imageInput" id="imageInput" (change)="getImageFromFiles($event)" accept="image/*">

    <p>{{contactInfo | json}}</p>
    
    <p style="color: blue">{{customMsg | json}}</p>

    <p style="color: red">{{errMsg | json}}</p>
  </div>
</ion-content>
<ion-footer>
  Developed by Prashant Shinde
</ion-footer>